.contact-section {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 120px;
}
.contact-section .lets-connect {
    width: 45%;
}
.contact-section .lets-form {
    width: 100%;
}
.contact-section h2 {
    font-size: 32px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 40px;
}
.contact-section .image-text-image {
    width: 48%;
    max-width: 608px;
}
.contact-section .contact-info .d-flex {
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 32px;
    align-items: flex-start;
}
.contact-section .contact-info img {
    border-radius: 0;
    position: relative;
    top: 4px;
}
.contact-section h5 {
    color: #161C2D;
    font-size: 20px;
    margin: 0;
    font-family: "Roboto", serif;
}
.contact-section p {
    margin: 0;
}
.contact-section a {
    color: #161C2DB2;
}
.map {
    height: 236px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    position: relative;
}
.map .abs {
    position: absolute;
    right: 10px;
    top: 10px;
}
.contact-section iframe {
    background: #fff;
}
.contact-section .contact-info .d-flex {
    flex-wrap: unset;
}
.contact-section .contact-info .d-flex .icon img {
    min-width: 23px;
    max-width: 23px;
}
@media (max-width: 991px) {
    .contact-section .image-text-image {
        order: 0;
    }
}
@media (max-width: 767px) {
    .contact-section .image-text-image {
        width: 100%;
    }
    .contact-section .lets-connect {
        width: 100%;
        order: -1;
    }
}